{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": "airbnb-base/legacy",
  "rules": {
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "max-len": ["error", 180, { "ignoreComments": true, "ignoreTrailingComments": true, "ignoreUrls": true, "ignoreRegExpLiterals": true }],
    "no-console": 0,
    "no-useless-constructor": 0,
    "no-use-before-define": ["error", { "functions": false, "classes": false }],
    "no-unused-vars": [2, { "vars": "all", "args": "none" }],
    "no-param-reassign": 0
  }
}
